# API Configuration
API_KEY=
API_BASE=https://currencyapi.net
ENDPOINT=/api/v2/rates
FROM_CURRENCY=USD
TO_CURRENCY=EGP
AMOUNT=1
FORMAT=json

# PostgreSQL Configuration
DB_HOST=postgres
DB_PORT=5432
DB_NAME=currency_db
DB_USER=postgres
DB_PASSWORD=postgres
